go 1.21.6

use (
	./1.Go_Hello_World
	./10.Const_Iota
	./11.Var_Bool
	./12.Var_Num
	./13.Var_String
	./14.Var_Conv
	./15.Arith_Ops
	./16.Rel_Ops
	./17.Log_Ops
	./18.Bit_Ops
	./19.Assign_Ops
	./2.Var_Def-1
	./20.Misc_Ops
	./21.Keyboard_IO
	./22.FlowCtrl_If
	./23.FlowCtrl_If_Nesting
	./24.FlowCtrl_Switch
	./25.FlowCtrl_Switch_Fallthrough
	./26.FlowCtrl_For
	./27.FlowCtrl_For_55
	./28.FlowCtrl_For_99
	./29.FlowCtrl_For_BrkCont
	./3.Var_Def-2
	./30.FlowCtrl_Iterate_String
	./31.Function
	./32.Func_Decl
	./33.Func_Parameter_Argment
	./34.Func_Varargs
	./35.Func_Varargs_Value_Pass
	./36.Func_Varargs_Ref_Pass
	./37.Func_Var_Scope
	./38.Func_Recur
	./39.Func_Defer
	./4.Var_Init
	./40.Func_Essence
	./41.Anon_Func
	./42.Callback_Func
	./5.RAM_Printf
	./6.Var_Swap
	./7.Anon_Var
	./8.Var_Scope
	./9.Const_Def
	./India_Calculate
)
